:root{
    --background: #0f172a ;  /* what a background*/
    --green: green;
    --black:#130f40;
    --light-color:#666;
    --red: rgba(221, 0, 0, 0.829);
    --box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --outline: .1rem solid rgba(0,0,0,1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    outline: none;              
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;

.btn{
        border: .2rem solid var(--black);
        margin-top: 1rem;
        display: inline-block;   /*ye text ko btn ke tarah bana deta hai*/
        padding: .8rem 3rem;
        font-size: 1.7rem;
        border-radius: .5rem;
        color: var(--black);
        cursor: pointer;
        background: none;
    }
.btn:hover{
        background: var(--green);
        color: white;
}

}
.header{
    /* border: 2px solid; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
   font-size: 2.5rem;
   font-weight: bolder;
}
.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0/*top bottom*/ 1rem/*left right*/;
    color: var(--black);

}
.header .navbar a:hover{
    color: var(--green);
}
.header .icons div{
    /* border: 1px solid; */
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover{
    background: var(--green);
    color: #fff;
}

#menu-btn{
    display: none;
}
.header .search-form{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;   /*minus se gayab ho gya search bar*/
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{ /*jab active hoga tab ye hoga*/
    right: 0;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--green);
}





header .shopping-cart {
    /* border: 1px solid; */
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    right: -110%;   /*iss ye gayab ho jayga */
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 40rem;
    background: #fff;
}
header .shopping-cart.active{
     right: 2rem;
     transition: .2s linear;
}
header .shopping-cart .box{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
header .shopping-cart .box img{
    height: 10rem;

}
header .shopping-cart .box .fa-trash{
   font-size: 2rem;
   position: absolute;
   top: 50%;
   right: 2rem;
   cursor: pointer;
   color: var(--light-color);
   transform: translateY(-50);
}
header .shopping-cart .box .fa-trash:hover{
    color: var(--red);
}
header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem; 
}

header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.5rem;
}
header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}
header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}
header .shopping-cart  .btn{
    display: block;   /*iske waha se pura area coinsume kr le rha hai width me*/
    text-align: center;
    margin: 1rem 0;
}




.header .login-form{
    width: 35rem;
    /* border: 1px solid; */
    position: absolute;
    top: 110%;
    /* right: 2rem;   */
    right: -110%;     /*for sliding effect*/
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background-color: #fff;
    text-align: center;
}
.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box{
    width: 100%;
    /* border: 1px solid; */
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}
.header .login-form p a{

    color: var(--green);
    text-decoration: underline;
}

/*Risponsive*/
@media (max-width:991px){
    html{
    font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem ;
    }
}
@media (max-width:768px){
    #menu-btn{
    display: inline-block;   /*yaha menu btn visibal hoga*/
     }
     .header .search-form{
        width: 90%;
     }
    .header .navbar{
        position: absolute;
        top: 110%;
        /* right: 2rem; */
        right: -110%;   /*isse navbar gayab ho jayga*/
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar a{
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
    }
}
@media (max-width:450px){
    html{
    font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;  /*joclip path me hai uska size chhota karne  liye jais eki our features*/
    }
    .footer{
        text-align: center;
        font-size: 4rem;
    }
}

 .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
 }


/* Home section CSS start  */
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    justify-content: center;
    /* border: 2px solid; */
    background: url(../banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    text-align: center;
}
.home .content{
  text-align: center;
  /* border: 1px solid; */
  width: 60rem;

}
.home .content h3{
    color: var(--black);
    font-size: 3rem;

}
.home .content h3 span{
    color:red;
    
}
.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
   padding: 1rem 0;
   line-height: 1.8;
}

/* Our features  */
/* heading for common in green like structure */
.heading{
    text-align: center;
    padding: 2rem o;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%,100% 99%, 0% 100%, 7% 50%, 0%  0% );
}




/*Styling box container section*/
.features .box-container{
/* border: 2px solid black; */
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 1.5rem;
}
.features .box-container .box{
  /* border: 2px solid red; */
  padding: 3rem 2rem;
  background: white;
  outline: var(--outline);
  outline-offset: -1rem;  /*outline andar aa jayga*/
  text-align: center;
  box-shadow: var(--box-shadow);
}
.features .box-container .box:hover{
    box-shadow: 1px 1px 10px  4px var(--green);
    /*           X   Y  blur  spread*/

}
.features .box-container .box img{
    margin: 1rem 0;
    height: 17rem;
}
.features .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}
.features .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}




/* styling product section */
.products .product-slider{
    /* border: 1px solid; */
    padding: 1rem;
}
.products .product-slider:first-child{
margin-bottom: 2rem;
}
.products .product-slider .box{
    /* border: 1px solid red; */
    background: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.products .product-slider .box:hover{
    box-shadow: 1px 1px 10px  4px var(--green);
}
.products .product-slider .box img{
    height: 20rem;
}
.products .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);
}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}



/* CATEGORIES SECTION CSS */
.categories .box-container{
/* border: 2px solid black; */
display: grid;
grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
gap: 1.5rem;
}
.categories .box-container .box{
  padding: 3rem 0;
  background: white;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  outline-offset: -1rem;
  outline: var(--outline);
  text-align: center;
}
.categories .box-container .box:hover{
     box-shadow: 1px 1px 10px 4px var(--green);
}
.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}
.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}
.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}




/* review section */
.review .review-slider{
    /* border: 1px solid; */
    padding: 1rem;

}
.review .review-slider .box{
        background: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review .review-slider .box:hover{
   box-shadow: 1px 1px 10px 4px var(--green);
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}
.review .review-slider .box .stars i{
    color:orange;
    font-size: 1.8rem;
}




/* blog section */
.blogs .box-container{
/* border: 2px solid black; */
display: grid;
grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
gap: 1.5rem;
}
.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: white;
}
.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding: 2rem;
    /* border: 1px solid; */
}
.blogs .box-container .box .content h3{
    line-height: 1.8;
    font-size: 2.2rem;
    color: var(--black);
    padding: 0.5rem 0;

}
.blogs .box-container .box .content  p{
        line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}
.blogs .box-container .box .content .icons{
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}
.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}
.blogs .box-container .box .content .icons a:hover{
    color: var(--black);
}
.blogs .box-container .box .content .icons a i{
    color: var(--green);
    padding-right: .5rem;}




/* Footer section */
.footer{
    background: white;
}
.footer .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
gap: 1.5rem;
}
.footer .box-container .box h3
{
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box h3 i
{
  color: var(--green);
}
.footer .box-container .box .links{
     display: block;
     font-size: 1.5rem;
     color: var(--light-color);
     padding: 1rem 0;
}
.footer .box-container .box .links i{
    color: var(--green);
    padding-right: 0.5rem;
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}
.footer .box-container .box p{
    line-height: 1.8;
      font-size: 1.5rem;
     color: var(--light-color);
     padding: 1rem 0;
}
.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 1.8;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover{
background: var(--green);
color: white;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}
.footer .credit span{
    color: var(--green);
}


